@model IEnumerable<HotelBookingSystem.Models.Room>

<div class="container mt-5">
    <h2 class="text-center">房型介紹</h2>
    @if (ViewBag.Message != null)
    {
        <p class="alert alert-info text-center">@ViewBag.Message</p>
    }
    else
    {
        <div class="row">
            @foreach (var room in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        @if (room.ProfilePicture != null && room.ProfilePicture.Length > 0)
                        {
                            <img class="card-img-top" src="data:image/jpeg;base64,@Convert.ToBase64String(room.ProfilePicture)" alt="@room.RoomName">
                        }
                        else
                        {
                            <img class="card-img-top" src="~/images/default-room.png" alt="Default Room Image">
                        }
                        <div class="card-body">
                            <h5 class="card-title">@room.RoomName</h5>
                            <p class="card-text">價格：@room.Price 元/晚</p>
                            <p class="card-text">類型：@room.RoomType</p>                            
                            <p class="card-text">@room.RoomContent</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
