@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="slider_section long_section">
    <div id="customCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="detail-box">
                                <h1>歡迎光臨LazzyDogHotel</h1>
                                <p>
                                    給您回憶滿滿的山住宿體驗
                                </p>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="img-box">
                                <img src="~/images/slider-img1.png" alt="LazzyDogHotel入口">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="detail-box">
                                <h1>
                                    寬敞的泡湯空間
                                </h1>
                                <p>
                                    忘卻城市喧囂體力容貌煥然一新
                                </p>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="img-box">
                                <img src="images/slider-img2.png" alt="四季溫泉池">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="detail-box">
                                <h1>
                                    我們提供您家的感覺
                                </h1>
                                <p>
                                    精心家庭溫泉房給您尊爵享受
                                </p>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="img-box">
                                <img src="images/slider-img3.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <ol class="carousel-indicators">
            <li data-target="#customCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#customCarousel" data-slide-to="1"></li>
            <li data-target="#customCarousel" data-slide-to="2"></li>
        </ol>
    </div>
</section>

<!-- Furniture Section -->
<section class="furniture_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>精選客房</h2>
            <p>
                我們的客房由店長經心規劃
            </p>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="box">
                    <div class="img-box">
                        <img src="~/images/f1.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>小麗緻雙人房</h5>
                        <div class="price_box">
                            <h6 class="price_heading">
                                <span>$</span> 2500.00
                            </h6>
                            <a href="~/Room/RoomList">
                                房間介紹
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="box">
                    <div class="img-box">
                        <img src="~/images/f2.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>夢幻三人房</h5>
                        <div class="price_box">
                            <h6 class="price_heading">
                                <span>$</span> 3500.00
                            </h6>
                            <a href="~/Room/RoomList">
                                房間介紹
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="box">
                    <div class="img-box">
                        <img src="~/images/f3.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>尊爵家庭房</h5>
                        <div class="price_box">
                            <h6 class="price_heading">
                                <span>$</span> 4800.00
                            </h6>
                            <a href="~/Room/RoomList">
                                房間介紹
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- info section -->
<section class="info_section long_section">

    <div class="container">
        <div class="contact_nav">
            <a href="tel:0988555666">
                <!--tel:協議支援在手機或支援撥號功能的應用上直接撥號-->
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                    Call : 0988555666
                </span>
            </a>
            <a href="mailto:demo@gmail.com">
                <!--mailto:協議會打開預設的電子郵件客戶端，並填入指定的收件人地址-->
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                    Email : demo@gmail.com
                </span>
            </a>

            <!--設定Google Maps 的查詢參數, target="_blank"屬性使連結在新分頁中打開，避免跳轉後離開當前頁面-->
            <a href="https://www.google.com/maps?q=四季溫泉會館" target="_blank">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                    424台中市和平區東關路一段溫泉巷8之1號
                </span>
            </a>
        </div>
    </div>
</section>
<!-- end info_section -->
