@{
    ViewData["Title"] = "Home Page";
}

@using System.Security.Claims

@{
    var userName = User.FindFirst(ClaimTypes.Name)?.Value;
}

<div>
    <h2>歡迎回來, @userName!</h2>
    <p>您已成功登入系統</p>
    <a asp-action="SignOut">登出</a>
</div>
