@{
    ViewData["Title"] = "ShowMemberAccount Page";
    List<MemberAccount> accounts = ViewData["accounts"] as List<MemberAccount>;
}

<div class="text-center">

    <table class="table">
        <thead>
            <tr>
                <th>編號</th>
                <th>帳號</th>
                <th>密碼</th>
                <th>電話</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (MemberAccount user in accounts)
            {
                <tr>
                    <th>@user.MemberNo</th>
                    <th>@user.UserName</th>
                    <th>@user.Password</th>
                    <th>@user.Phone</th>
                </tr>
            }
        </tbody>
    </table>


</div>