@{
    Layout = "~/Views/Shared/_LayoutConsole.cshtml"; // 使用 _LayoutConsole.cshtml 作為布局
    ViewData["Title"] = "Home";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="card-title display-4" style="word-wrap: break-word; word-break: break-word; font-size: min(6vw, 32px);">
                        Welcome to LazzyDog Hotel後台管理系統
                    </h1>

                    <p class="card-text mt-3">專屬於飯店的高效後台管理解決方案。</p>
                </div>
                <img src="~/images/hotel.jpg" class="card-img-top" alt="Hotel Image">
            </div>
        </div>
    </div>
</div>

